@media screen and ( max-width: 1200px )
    .phone__wrapper
        justify-content: space-between
        flex-wrap: wrap
    .phone__items
        width: 50%
    .flex-items
        width: 100%
        margin-top: 20px
        display: flex
    .phone__item
        margin-top: 20px


@media screen and ( max-width: 992px )
    .features__wrapper
        grid-template-columns: 1fr 1fr
    .features__item
        margin-top: 15px
    .phone__photo
        width: 40%
        margin: 0
    .subtitle
        width: 50%
        margin: 45px auto 0 auto
    .gallery__content
        grid-template-columns: 1fr 1fr 1fr
        column-gap: 20px
    .gallery__item-img img
        border-radius: 10px
    .gallery__item 
        margin-top: 10px
    .team__wrapper
        grid-template-columns: 1fr 1fr 
        column-gap: 30px
    .team__card
        margin-top: 20px
        
    
@media screen and ( max-width: 767px )
    .header__navigation
        display: none
    .promo__title
        font-size: 50px
    .promo__subtitle
        font-size: 35px
    .features__wrapper
        grid-template-columns: 1fr
    .phone__photo
        display: none
    .phone__items
        width: 100%
    .flex-items
        display: block
    .subtitle
        width: 80%
    .title h2
        font-size: 20px
    .gallery__content
        grid-template-columns: 1fr 1fr
    .works__tabs
        flex-wrap: wrap
    .team__wrapper
        grid-template-columns: 1fr
    .facts__wrapper
        grid-template-columns: 1fr 1fr
    .facts__card
        margin-top: 20px 
        

@media screen and ( max-width: 480px )
    .promo__title
        font-size: 40px
    .promo__subtitle
        font-size: 25px
    .promo__information span
        font-size: 14px
    .gallery__content
        grid-template-columns: 1fr
        padding: 0 10px
    .facts__wrapper
        grid-template-columns: 1fr
    .facts__card span
        font-size: 30px