@media screen and ( max-width: 767px )
    .header__navigation
        display: none
    .promo__title
        font-size: 50px
    .promo__subtitle
        font-size: 35px


@media screen and ( max-width: 480px )
    .promo__title
        font-size: 40px
    .promo__subtitle
        font-size: 25px
    .promo__information span
        font-size: 14px