@import 'libs/bootstrap-reboot.min'
@import 'libs/bootstrap-grid.min.css'
@import 'libs/slick.scss'
@import 'base/variables'


input, textarea,button, button:active, button:focus 
    outline: none
    border: none

body
    font-family: "Lato"

@import 'blocks/title'
@import 'blocks/header'
@import 'blocks/promo'
@import 'blocks/features'
@import 'blocks/phone'
@import 'base/media'
