.works
    min-height: 843px
    padding-bottom: 108px
    border: 1px solid black
    &__subtitle
        text-align: center
        margin-top: 45px
        h3
            font-size: 14px
            font-weight: 400
            line-height: 17.75px
            color: rgba(6,32,51, 0.8)
    &__tabs
        margin-top: 80px
        list-style-type: none
        padding: 0
        display: flex
        justify-content: center
        border: 1px solid orange
    &__tab
        margin-right: 20px
        padding: 5px 20px
        border-radius: 6px
        &-active
            background-color: $main-color
        &:hover
            cursor: pointer
        &:last-child
            margin-right: 0px
       





.gallery
    margin-top: 78px
    position: relative
    &__content
        position: absolute
        top: 0
        right: -100%
        width: 100%
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        transition: .5s all
        &-active
            right: 0
            
    &__item
        border: 1px solid red
        img
            width: 100%


